[2020-08-09 01:23] daniel-sudz opened #2 "[NEEDS WORK] Configuring Database Security Rules"
Data should be stored in firebase collections that are named after a user's emails address. Reads and writes should only be permitted into a firebase collection that matches an authed user's email address. Read/writes should be blocked in collection names that do not end with @lwsd.org to prevent outside access.

Files that need to be addressed:
[code]

[2020-08-09 01:37] daniel-sudz opened #5 "[PROPOSAL] State Management Library"
Should we use redux for state management? Using redux toolkit is very easy with react. I know it's possible to do things with context and what not but I think using redux would make things more readable.

[2020-08-09 07:32] daniel-sudz opened #8 "[DISCUSSION] UI Library"
Ideally we should use one UI library to prevent a soup of random junk constantly being added on. I have used tailwind css before and it's powerful but also hard to learn overall. Bootstrap is alright but it's difficult to customize it without a bunch of hacky css overrides.

tailwind css link: https://tailwindcss.com/.
@Zjjc123

[2020-08-09 07:49] Zjjc123 opened #9 "Implement page body"

[2020-08-09 08:25] Zjjc123 opened #11 "CI/CD Action"
Set up automatic and continuous integration and deployment with GitHub actions.

[2020-08-09 18:21] Zjjc123 opened #12 "Navigation Buttons Disappear on Rescale"
If you scale the window to be small and close the navigation tabs by clicking the tripple line, when you rescale the window to be big, the navigation tabs will not appear again.

[2020-08-09 18:42] daniel-sudz commented on #12
#13  @Zjjc123 check for fix

[2020-08-09 18:44] daniel-sudz commented on #11
How about we deploy to github pages for staging/preview and then deploy to firebase for production? Because the problem is that the CI/CD will run on every pull which means that anyone could potential deface the website.

[2020-08-09 19:11] Zjjc123 commented on #11
Why would it be on every pull?

[2020-08-09 19:15] Zjjc123 commented on #12
Issue solved. Closing.

[2020-08-09 19:15] #12 closed

[2020-08-09 19:21] Zjjc123 opened #14 "Implement Footer"
Implement basic footer. Should be at the bottom of the page even if the page content does not fill the page.

[2020-08-09 19:48] Zjjc123 opened #18 "Adding Basic Documentations and Guidelines"
- licenses
- contributing guidelines
- code of conduct

[2020-08-09 19:49] Zjjc123 commented on #18
https://github.com/eastlake-key/community-service-tracker/pull/17
https://github.com/eastlake-key/community-service-tracker/pull/16
https://github.com/eastlake-key/community-service-tracker/pull/15

[2020-08-09 20:04] #18 closed

[2020-08-09 20:13] daniel-sudz commented on #11
Github actions staging done, need final deploy

[2020-08-09 21:46] Zjjc123 opened #22 "Tree Shake Tailwind.css"
Too many extra tailwind css utility is being generated.

[2020-08-09 21:47] daniel-sudz opened #23 "[PERF] Add Purge CSS"
**Describe the bug**
We should purge css to remove unused styles and keep bundle size small

[2020-08-09 21:47] daniel-sudz commented on #22
lol #23

[2020-08-09 21:47] #22 closed

[2020-08-09 21:52] daniel-sudz commented on #23
Alright so it seems like we use PurgeCSS with craco

[2020-08-09 22:17] daniel-sudz commented on #23
I couldn't get craco to work and ideally we shouldn't touch create-react-app stuff so I'm just gonna try to run PurgeCSS on the final output files

[2020-08-10 00:02] daniel-sudz commented on #23
#24 merged to master with proper solution.

[2020-08-10 00:02] #23 closed

[2020-08-10 00:02] daniel-sudz commented on #9
This was completed right?
#21

[2020-08-10 00:02] #9 closed

[2020-08-10 00:03] #5 closed

[2020-08-10 00:04] daniel-sudz commented on #2
Completed, but needs to be added to deployment

[2020-08-12 06:56] daniel-sudz commented on #11
@Zjjc123 Note: I'm gonna change the root domain to / in the package.json since I'm gonna use a custom domain.

[2020-08-12 08:20] daniel-sudz opened #27 "[FEATURE] Meta tags and React Helmet"
Add proper meta tags for all pages with react helmet such as

[code]

[2020-08-12 08:21] daniel-sudz commented on #14
@Zjjc123 go do this

[2020-08-12 18:56] #14 closed

[2020-08-12 18:59] daniel-sudz opened #30 "Spacing between logo and title too big on mobile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Chrome dev tools iphone 7 preview

**Expected behavior**
Entire page should fit on the screen. The first time here text is cut off. Maybe we need breakpoints for spacing. like m-6 default and lg:m-10 for desktop for example.

**Screenshots**
<img width="378" alt="Screen Shot 2020-08-12 at 11 55 53 AM" src="h

[2020-08-12 19:05] Zjjc123 opened #31 "Clean Up Tailwind in Repo"
**Describe the bug**
CSS fills the repository

**Expected behavior**
- A true display of percentage of different type of code
- No need for unused code

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/24723940/90056668-18f1ed00-dc94-11ea-8920-7283ff3997cc.png)

[2020-08-12 19:08] Zjjc123 commented on #11
@daniel-sudz Probably need to clean up github pages

[2020-08-12 19:34] #30 closed

[2020-08-12 19:41] daniel-sudz commented on #31
merge #34

[2020-08-12 19:42] daniel-sudz commented on #27
merge #33

[2020-08-12 19:42] #27 closed

[2020-08-12 19:43] #31 closed

[2020-08-12 19:47] daniel-sudz commented on #11
#35

[2020-08-12 19:48] daniel-sudz commented on #11
We should add some kind automatically screenshot generation for different devices. Idk how to do this though, maybe some kind of selenium.

[2020-08-12 19:50] daniel-sudz opened #36 "Update website favicon"

[2020-08-12 22:08] daniel-sudz opened #38 "Image scaling off on iphone 7"
**Describe the bug**
Image does not display correctly on iphone 7

**Expected behavior**
Correct scaling and size

**Screenshots**
<img width="375" alt="screenie" src="https://user-images.githubusercontent.com/52898838/90073148-90804600-dcad-11ea-80e2-78446f5a8587.png">

[2020-08-13 02:02] daniel-sudz opened #45 "Makes screenshot.py run against local website rather than the live one"

[2020-08-13 02:03] #38 closed

[2020-08-13 02:13] daniel-sudz commented on #45
Guide: https://www.browserstack.com/local-testing/automate

[2020-08-13 20:04] daniel-sudz opened #47 "UI for adding volunteer hours and displaying them"
@Zjjc123 I'll do the firebase stuff make the UI itself.

[2020-08-13 20:10] daniel-sudz opened #48 "Netlify ignoring redirects file for some reason"
``` website/_redirects``` should be consumed on build

[2020-08-13 23:07] Zjjc123 commented on #47
@daniel-sudz should we use a library for easy filter's and search

[2020-08-14 20:17] Zjjc123 commented on #47
@daniel-sudz What do we do with the table branch

[2020-08-17 23:48] Zjjc123 opened #50 "Table for Mobile Screen"
Correctly scale and display tables on a mobile phone screen.

[2020-08-17 23:49] Zjjc123 opened #51 "Edit Table Workflow"

[2020-08-18 19:15] #48 closed

[2020-08-31 00:44] Zjjc123 commented on #47
Closed by https://github.com/eastlakehs/community-service-tracker/pull/60

[2020-08-31 00:44] #47 closed

[2020-08-31 00:44] Zjjc123 commented on #50
Closed by https://github.com/eastlakehs/community-service-tracker/pull/60

[2020-08-31 00:44] #50 closed

[2020-08-31 00:44] Zjjc123 commented on #51
Closed by https://github.com/eastlakehs/community-service-tracker/pull/60

[2020-08-31 00:44] #51 closed

[2020-08-31 00:55] daniel-sudz opened #63 "CSS Class name"
Whitelist css class names for date picker to prevent tree shaking

[code]

[2020-08-31 01:50] Zjjc123 commented on #63
Closed by: https://github.com/eastlakehs/community-service-tracker/pull/65

[2020-08-31 01:50] #63 closed

[2020-08-31 22:38] #36 closed

[2020-08-31 22:39] daniel-sudz opened #69 "Unique keys for table"
I currently have the react key props for the table entries as the content of the entire row. However, the key should be equal to the firebase document key of the row. This prevents duplicated in all cases and is the better solution.

[2020-08-31 22:40] daniel-sudz opened #70 "Table display when there are no entries"
When there are no entries, the table displays just the headers which may confuse users. Instead, it should display a helpful reminder to log a new activity.

[2020-08-31 22:43] daniel-sudz opened #71 "Index.html helpful description"
We should modify the index.html so that it displays a nice description and title for smart embeds and social embeds.

[2020-08-31 23:00] Zjjc123 commented on #71
Closed by #72

[2020-08-31 23:00] #71 closed

[2020-09-01 01:43] #69 closed

[2020-09-01 01:55] #70 closed

[2020-09-01 06:08] daniel-sudz opened #77 "Storybook"
Sometimes it's very annoying to test changes made to UI because on a dev server you have to manually copy the login link to look at pretty much anything. Also the you have to relogin on each deploy preview.

We can use something like ```https://storybook.js.org/``` to look at the UI of components in isolation. This also encourages best practices because each "story" has to be created in isolation

[2020-09-01 06:09] daniel-sudz commented on #77
Also we can deploy storybook to something like github pages on pull request to quickly glance at any UI changes

[2020-09-01 20:53] Zjjc123 opened #81 "Delete Button"
Add a delete button to delete entries.

[2020-09-04 21:13] daniel-sudz opened #82 "Implement Automatic Backups"
https://firebase.google.com/docs/firestore/solutions/schedule-export. The gist is that you create a cloud function that runs the export code and that function is automated with cloud-schedulers.

[2020-09-04 21:13] daniel-sudz commented on #81
@Zjjc123 I can do this some time this weekend should be fairly easy.

[2020-09-04 21:13] #8 closed

[2020-09-04 21:14] #2 closed

[2020-09-04 21:14] daniel-sudz commented on #77
This is a lot of work and I don't think it's worth it for something like this so it probably won't happen @Zjjc123

[2020-09-04 21:15] #45 closed

[2020-09-17 02:19] #81 closed

[2020-09-17 02:20] #11 closed

[2020-10-12 20:06] daniel-sudz opened #91 "Firebase auto deploy"
Should add a simple action to keep the firebase configs in sync with the source code.

[2020-11-03 21:36] daniel-sudz opened #105 "Drop down for officer names"
Use dropdown instead of stringfield in case we need this data categorization later for something.

[2021-04-20 05:17] daniel-sudz opened #119 "[ADMIN]: Make navigation to other user's view work properly"
**Describe the bug**
Currently, when you impersonate a user it swaps the email in redux but nothing happens

There's a series of re-render problems that I need to fix.

[2021-04-20 06:48] Zjjc123 opened #121 "[ADMIN] CSV Export Button"
Add a button to export csv from local data

[2021-04-20 21:31] Zjjc123 opened #122 "[ADMIN] Fix Admin UI view"
Make admin view more intuitive to use.
- when viewing a user -> the ui change is not intuitive. Should show that we are in admin view but are viewing another user. Instead of displaying "you are not an admin"
- make navigating to admin and out of admin easy

[2021-04-20 21:38] Zjjc123 opened #123 "Make "Phone Number" into any contact information (email/phone/etc)"
Currently more students know only the email of their contact.

[2021-04-20 21:42] Zjjc123 opened #124 "Keep a consistent capitlization in the repo folder names"
I vote for all lower case @daniel-sudz

can use command `git config core.ignorecase false` to keep track of capitalization to fix name

[2021-04-21 16:54] Zjjc123 opened #126 "Remove NHS"
Remove NHS Options? @daniel-sudz

[2021-04-23 20:06] theTisch21 opened #128 "Forking is disabled"
**Is your feature request related to a problem? Please describe.**
I wanted to test something with GitHub actions to speed up your CI workflow by caching a directory. I didn't want to directly poke at the live repo, so I was going to fork it and test it there using a self-hosted runner (To avoid paying for github's runners). However, forking is disabled.

**Describe the solution you'd like**
I'd l

[2021-04-23 20:23] daniel-sudz commented on #128
@theTisch21 converted repo to public, you should be able to fork now. Private API keys should be only in the github secrets and github should auto-manage that on PRs/forks.

[2021-04-23 20:23] #128 closed

[2021-04-27 05:31] daniel-sudz opened #130 "[ADMIN]: Hour total wrongs"
**Describe the bug**
When switching to impersonating a user, we need to clear the table redux state to not carry over previous user entries.

[2021-04-27 05:59] daniel-sudz opened #131 "[ADMIN]: Redirect from profile page to admin page"
**Describe the bug**
We need proper redirects when user is admin

[2021-04-27 05:59] Zjjc123 opened #132 "[CLEAN UP] Remove .vscode settings"

[2021-04-27 06:00] daniel-sudz commented on #131
Same for table view

[2021-04-27 06:35] #132 closed

[2021-04-27 06:35] Zjjc123 commented on #130
Should close why isn't this automatically closing?

[2021-04-27 06:36] #130 closed

[2021-04-27 06:51] #119 closed

[2021-04-27 06:51] daniel-sudz commented on #122
fixed I think?

[2021-04-27 06:51] #122 closed

[2021-04-27 07:15] Zjjc123 opened #136 "Fix Table Duplication"
Reduce Duplicate Table Code for Admin vs Hours

[2021-04-28 00:07] #121 closed

[2021-04-28 05:52] theTisch21 commented on #126
I'm currently in NHS, and my officer has told me I don't have to fill stuff out here. I wouldn't mind if this feature is removed from the tracker.

[2021-05-02 00:43] davidvel25 commented on #126
I believe the NHS tracker should remain because unlike other trackers such as NHS-specific community service submission pages and EHS Interact Club community service submission pages, the student is not able to see how many hours they have submitted once they have clicked "Submit". This tracker that was made is a great place to store ALL the hours for NHS, Key Club, and other clubs etc. So even th

[2021-05-02 01:15] davidvel25 opened #141 "Add a Spot to Add Pictures + a Notes Section"
**Is your feature request related to a problem? Please describe.**
I really like using this community service tracker as my UNIVERSAL tracker. It can store as many events as needed, and it doesn't reset after the school year ends. It would be great if you could add a section when submitting community service hours to allow pictures to be attached since most community service-based clubs ask for pr

[2021-05-02 01:37] theTisch21 commented on #141
This is a good idea. I'm not sure how we would get the files into Firebase, but the notes section should be easy to implement. I'll do some testing on my fork https://github.com/thetisch21/community-service-tracker, under the branch `notes-and-files`

[2021-05-02 01:37] davidvel25 opened #142 "Easy Preview Icon to Sort Community Service Events"
**Is your feature request related to a problem? Please describe.**
It would be a really great feature when submitting an event for community service which shows an icon to easily distinguish which events are for which club. Its difficult to describe in words, so please take a look at the picture attached.
^^^This could be an alternate solution to removing the NHS button. With this solution (see at

[2021-05-02 01:37] davidvel25 commented on #141
https://github.com/eastlakehs/community-service-tracker/issues/142

Thank you so much,
David Velcsov (he/him/his)

From: Sam ***@***.***>
Sent: Saturday, May 1, 2021 6:37 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [eastlakehs/community-service-tracker] Add a Spot to Add Pictures + a Notes Section (#141)

This is a good idea. I'm not sure how we would get the files into Firebas

[2021-05-02 01:44] theTisch21 commented on #142
What if the icon was right before/after the name?
Example:
![Untitled](https://user-images.githubusercontent.com/20461232/116799330-4e9e6680-aaad-11eb-8754-48f8450e25b1.png)

[2021-05-02 02:26] Zjjc123 commented on #126
@davidvel25 so keep it as a way to track but not for official use?

[2021-05-02 02:28] davidvel25 commented on #126
@Zjjc123 Yeah exactly! I think only Key Club uses this tracker, so I think that since its UI is so intuitive to use, it can also be used to track for other clubs even though they don't use this tracker as the primary method.

[2021-05-02 02:37] Zjjc123 opened #143 "Future Maintenance of this Project"
## The Issue
This repository was started by me (current EHS Key Club Community Service Manager) and my friend @daniel-sudz (react genius). This website is used by Key Club but it is also used by the PTSA (therefore the entire Eastlake High School).

But we are both seniors and will be heading to college. This means
1. We won't have time to maintain and improve this as much.
2. It isn't sustainable

[2021-05-02 03:33] theTisch21 commented on #143
I think it should be made clearer that this is open source and open to contributions. I've been using this system all year, and only recently discovered that it was open source, mostly because the link in the footer used to go to the info repo, where I was told I had to request access. I didn't have experience with React (Even though I do have experience with Nodejs), so I didn't apply. I only was

[2021-05-02 04:22] daniel-sudz commented on #143
@theTisch21 that's a good point. To avoid confusion I will private the info repo just in case as well.

[2021-05-02 04:27] daniel-sudz commented on #143
Also @theTisch21 for the screenshots, I never really used it for anything substantial (just when we were testing broken css on the home page at the very start).

Currently it's using browserstack which is why external forks can't get the API key from the repo. I would ideally move any sort of screenshotting to github actions and use something open source there.

A popular framework seems to be htt

[2021-05-02 04:34] daniel-sudz opened #145 "Branch protection (CODEOWNERS)"
I want to make sure that I always get CC'd on PR's to master and for all PR's to require my review. This will allow us later to manage/add future maintainers without things getting out of hand.

[2021-05-02 04:48] daniel-sudz commented on #105
duplicate #126

[2021-05-02 04:48] #105 closed

[2021-05-02 04:59] daniel-sudz commented on #143
Also note: I am currently planing on gap-year/deferring so for now at least, I will be open to continuing to provide PR reviews and making minor contributions.

[2021-05-02 05:18] daniel-sudz commented on #141
@theTisch21 the proper way would be to store images in firebase store (basically just glorified google cloud storage) and then save the links to the images in the firestore database.

A lazy way to do it (although honestly valid given the scale) would be to just base64 the images and store them as text in the database (about 30-40% overhead with base64).

[2021-05-02 06:32] Zjjc123 commented on #145
@daniel-sudz GitHub is not closing these automatically. Not sure why it didn't link it up with the keywords.

[2021-05-02 06:32] #145 closed

[2021-05-02 06:33] Zjjc123 commented on #142
I'm not sure what icons people would want but I think changing colors could definitely be a good way of organizing.

[2021-05-02 06:36] Zjjc123 opened #147 "[ADMIN] Export for Admin"
Move /reports to a button on the Admin Dashboard

[2021-05-02 06:43] daniel-sudz commented on #147
Should reports be protected to admin only? Currently it's read-only for everyone

[2021-05-02 06:55] Zjjc123 commented on #147
I would think so. Probably a privacy issue.

[2021-05-02 06:57] daniel-sudz commented on #147
We need to update the firestore rules then and add a client-side feedback for ```ehs-service.org/report```

[2021-05-02 07:18] daniel-sudz opened #148 "Enforce strict rules for CI system"
**Describe the bug**
[code]

**Expected behavior**
We should add eslint and build warnings to the current tests on PRs.

[2021-05-02 07:28] daniel-sudz opened #149 "Backup duplication to unaffiliated service"
**Describe the bug**
We currently backup the database on a daily basis to firebase storage with the official google backup script. We should duplicate to a second unaffiliated service.

I propose encrypting the backup blobs with a strong key (to protect the privacy of our users) and then dumping them to a regular github repo (for simplicity and integration with github actions. )

[2021-05-02 15:57] theTisch21 commented on #141
@daniel-sudz I'll test both options. Is there a way to run Firebase locally? Or to create a test instance in the cloud? I don't want to mess with the production database for something like this.

[2021-05-02 16:15] theTisch21 commented on #149
@daniel-sudz
I agree that we should backup somewhere else.
Alternate solution: What if when using the action to backup the repo, the action takes the database backup file(s) and makes it into an archive, like a zip, 7z, or tarball, then uses the upload-artifact action to upload it. The archives could be encrypted and/or password protected, and we could download them by simply going to the action r

[2021-05-02 16:42] daniel-sudz commented on #149
@theTisch21 that would work. Something to keep in mind though: artifacts in GitHub actions are hard-coded to have a retention policy of 90 days. I think that's probably reasonable for us: on the firebase side I setup a retention policy of 30 days (daily backups).

[2021-05-02 16:46] daniel-sudz commented on #149
I also couldn't find anything relating to the total size of files allowed in github artifacts although (other than people reporting failures for files greater than 2GB) so we would probably need to monitor this to see if we ever hit a hard limit.

[2021-05-02 16:53] daniel-sudz commented on #141
@theTisch21 your easiest option would be to open your own firebase project. You should be able to have access to the free-tiere for firestore/storage without having to enable billing (although you do for cloud functions).

There is an emulator (https://firebase.google.com/docs/emulator-suite) but it currently does not support firebase storage.

[2021-05-02 19:41] Zjjc123 opened #150 "Enforcing Capitlizaiton and Styling"
## Issue
- <s>Many files and folders have weird capitalization<s>
- Organization in the website code is sporadic
- <s>Some files lack an empty ending line<s> #152
- <s>Code styling is also inconsistent as there isn't a standard code format or we are not using a standard code formatter (could this be fixed with .vscode?)<s> #152

We need to keep consistent capitalization and styling throughout our

[2021-05-02 19:43] Zjjc123 commented on #150
#124 is just a part of this

[2021-05-03 04:25] theTisch21 commented on #143
I am currently a junior, and have another year at Eastlake. I would be willing to help maintain this repo, and I think @davidvel25 would be willing to help as well.

[2021-05-03 05:24] #148 closed

[2021-05-03 05:26] #123 closed

[2021-05-03 06:50] Zjjc123 opened #161 "Users Inputting Wrong Graduation Dates"
We should not allow graduation year of +5 current year (could be just client-side).

A real user:
![image](https://user-images.githubusercontent.com/24723940/116848303-2728c600-aba1-11eb-8d48-0ed53466624a.png)

Never trust our users to do the right things.

[2021-05-03 18:19] theTisch21 opened #162 "New label(s) for formatting"
**Is your feature request related to a problem? Please describe.**
I've seen a lot of pull requests and issues lately about the formatting of either the source code or the UI. Currently, It's all grouped under "enhancement"

**Describe the solution you'd like**
It would be nice to be able to group those with a label like "Format", or separate labels, "Code cleanup" and "UI Format", and use the "en

[2021-05-03 18:26] daniel-sudz commented on #124
@Zjjc123 do you also want to do subfolders?
https://github.com/eastlakehs/community-service-tracker/tree/master/firebase

[2021-05-03 18:27] daniel-sudz commented on #124
Also https://github.com/eastlakehs/community-service-tracker/tree/master/website/src

[2021-05-03 18:31] Zjjc123 commented on #124
@daniel-sudz yeah will open another pr

[2021-05-03 18:37] Zjjc123 commented on #162
@daniel-sudz I think you added some labels before so organize this however you see fit

[2021-05-03 21:24] Zjjc123 opened #165 "[ADMIN] Edit Bug"
View a user &#8594; edit a user &#8594; dashboard &#8594; someone with empty hours &#8594; click on "edit" &#8594; data was persisted.

Not sure if this is the intended functionality

[2021-05-03 23:51] #124 closed

[2021-05-04 04:56] davidvel25 commented on #143
@theTisch21 Sounds good. Yeah I would be willing to work on this project a lot during the summertime and next fall as well. Not so much this school year since AP tests are coming up.

[2021-05-04 17:47] theTisch21 commented on #162
We could also add another label for new features, maybe "new-feature"

[2021-05-05 05:17] Zjjc123 commented on #150
Everything Completed. Will reopen if more organization is needed.

[2021-05-05 05:17] #150 closed

[2021-05-05 05:37] Zjjc123 commented on #162
@theTisch21 made labels. save enhancement for new features

[2021-05-05 05:37] #162 closed

[2021-05-05 17:13] #161 closed

[2021-05-05 18:34] daniel-sudz commented on #141
Reference for future:
Keep costs low by setting cache control to infinity (seems like this a per storage bucket attribute)
https://cloud.google.com/storage/docs/viewing-editing-metadata#edit

API reference: https://cloud.google.com/storage/docs/viewing-editing-metadata#edit

@theTisch21 @davidvel25 @Zjjc123 Could we get some more opinions from inside Key Club asking if this is something that other

[2021-05-05 18:39] daniel-sudz commented on #165
@Zjjc123 this a bug

dispatch ```clearEditState``` from https://github.com/eastlakehs/community-service-tracker/blob/master/website/src/redux/editScreenSlice.ts to address it

[2021-05-05 18:41] #126 closed

[2021-05-05 19:21] theTisch21 commented on #141
@daniel-sudz I just asked everyone

[2021-05-05 19:21] theTisch21 commented on #141
If you are here from my post on teams, please "like" this comment if you are interested in this feature

[2021-05-05 23:19] theTisch21 commented on #141
Here's a PR for a "notes" section: #169

[2021-05-06 00:13] Sheshank-s commented on #143
hi jason i can help during the next school year

[2021-05-06 05:38] Zjjc123 opened #170 "Fix Edit Page UI"
- Keep the UI for mobile versions
- Utilize the entire screen to minimize scrolling for desktop versions by placing boxes not in a linearly fashion but spread out in x and y direction across the screen.

[2021-05-06 06:12] Nathan-Yap commented on #143
Hi, I also can help. I have experience in React from my time with Sam and Indra.

[2021-05-06 06:47] Zjjc123 commented on #143
@davidvel25 @Sheshank-s @Nathan-Yap I invited all of you to the tracker team. That should give you triage access for now.

[2021-05-06 17:12] Zjjc123 opened #172 "Update license"
Update year in license? @daniel-sudz

[2021-05-06 18:13] #165 closed

[2021-05-06 18:23] Zjjc123 commented on #172
Do you just have to change it every year?

[2021-05-06 20:46] Sheshank-s commented on #143
Yes I have experience with Sam and Indra too

[2021-05-07 02:36] Zjjc123 commented on #143
Me too

[2021-05-07 05:29] daniel-sudz commented on #147
@TimofeiK27 you could probably do this:

Look into https://github.com/eastlakehs/community-service-tracker/blob/master/website/src/components/header/pageHeader.tsx and in the ```signedInstate.admin``` block add as a button to  link to the ```ehs.service/report``` page similar to the other links.

[2021-05-07 05:31] daniel-sudz commented on #172
@TimofeiK27 see if there is a way to make the year automatically update in the ```LISCENSE``` file in github. If not, just a submit a PR to modify the text to the current year.

[2021-05-07 05:41] Zjjc123 commented on #170
@TimofeiK27 you can look into this too. This is just a simple UI change with CSS and HTML.

[2021-05-07 14:27] theTisch21 commented on #172
We could setup a workflow to simply check on the first day of each month (Cron would be `0 0 1 * *`) and use the GITHUB_TOKEN environment variable to commit it, or use it to create a PR for us to merge.

[2021-05-07 14:40] daniel-sudz commented on #172
@theTisch21 you don't actually need to use the ```GITHUB_TOKEN``` anymore. I think workflow files automatically inherit the proper permissions for committing:

See https://github.com/daniel-sudz/lzw-lite/blob/master/.github/workflows/publish.yml for reference

[2021-05-07 19:12] daniel-sudz opened #175 "Improve Developer Workflow: Stubbing authentication"
**Is your feature request related to a problem? Please describe.**
So people should be able to work on admin features, but shouldn't be able to wreck the production database. So we need to stub the database in development.

This is now supported:
https://github.com/firebase/firebase-tools/issues/1677#issuecomment-717364427

https://firebase.google.com/docs/emulator-suite/connect_auth
https://fireb

[2021-05-07 19:36] #149 closed

[2021-05-07 19:48] daniel-sudz commented on #170
For people unfamiliar: flexbox or cssgrid is what you would want for this. Tailwindcss (our pre-processer) has some guides here: https://tailwindcss.com/docs/grid-template-columns

[2021-05-07 19:52] daniel-sudz commented on #172
Looks like @theTisch21 started some testing in his personal repo so I'm assigning him for now

[2021-05-07 21:15] Zjjc123 commented on #172
I wrote a python script that would rewrite it @theTisch21 on the `license-update` branch

[2021-05-08 00:57] theTisch21 commented on #172
@Zjjc123
I'll add my workflow to your branch and have it run your script. I'll then create a PR

[2021-05-08 04:26] TimofeiK27 commented on #170
@Zjjc123 I've attached an image of the edit page. Were you envisioning something like this?
![editPage](https://user-images.githubusercontent.com/67656268/117526505-82c8ca00-af7a-11eb-8e6d-15d9b05610e0.PNG)

[2021-05-08 19:52] #172 closed

[2021-05-08 20:03] Zjjc123 opened #177 "License Action pushing to master is blocked (by design)"
So the license workflow will always fail.

![image](https://user-images.githubusercontent.com/24723940/117551973-9e28e900-affd-11eb-8e9a-b694899203fe.png)

[2021-05-08 20:08] Zjjc123 commented on #177
Maybe make it just submit a PR and one of us can merge it in every year?

[2021-05-08 21:03] Zjjc123 commented on #177
@theTisch21 Make a new PR and make it submit a PR instead of pushing to master to fixe errors introduced in #176

[2021-05-08 23:37] TimofeiK27 commented on #170
@Zjjc123 You good with something like this?

![editPage](https://user-images.githubusercontent.com/67656268/117556229-7f394f80-b01b-11eb-9259-8d3d8217ad37.PNG)

[2021-05-08 23:41] Zjjc123 commented on #170
Looks pretty good!

[2021-05-08 23:47] TimofeiK27 commented on #170
@Zjjc123 I couldn't figure out how to stretch out the form. I'm still new to typescript and tailwind so I was having some trouble with that.

[2021-05-08 23:47] Zjjc123 commented on #170
And make sure mobile sure looks good

[2021-05-08 23:48] Zjjc123 commented on #170
Do you have the code somewhere

[2021-05-08 23:49] TimofeiK27 commented on #170
I cloned the repo to my computer

[2021-05-08 23:55] Zjjc123 commented on #170
So the easiest way to do this would be to fork the repo (copy it as your own) and then make those changes and pushing them to that fork. Then me and daniel can both view it and help request or make changes as needed. In the end, you would submit a pull request (a request to merge fix/feature into production) and then we can merge it into master.

Since it's UI changes. Could you make the fork and

[2021-05-09 00:06] daniel-sudz commented on #175
in progress

[2021-05-09 00:18] TimofeiK27 commented on #170
I made a fork, and pushed the file.
https://github.com/TimofeiK27/community-service-tracker/commit/4379be0895a057ef1592a0ffe94e87c992d8624f

[2021-05-09 01:49] daniel-sudz opened #179 "Prevent Squatting of Unverified Email Addresses"
https://firebase.google.com/docs/reference/rules/rules.firestore.Request
[code]

We currently check firestore security rules with ```request.auth.token.email```. However, an external user can simulate regular email/password auth and begin writing to a chosen email address that they may not own. They will retain access until the actual email owners resets their password.

# Proposal

## Before Chan

[2021-05-09 19:01] Zjjc123 commented on #170
@TimofeiK27 It has something to do with max-w-lg
![image](https://user-images.githubusercontent.com/24723940/117583817-22db3c00-b0be-11eb-8493-6f030381cac0.png)

You can increase the width of the element by changing this class name.

https://tailwindcss.com/docs/max-width
![image](https://user-images.githubusercontent.com/24723940/117583827-3d151a00-b0be-11eb-85a3-ceadfa5ae341.png)

[2021-05-09 19:25] #91 closed

[2021-05-09 19:56] Zjjc123 commented on #170
Mobile is not very responsive to window size
![image](https://user-images.githubusercontent.com/24723940/117585191-f3303200-b0c5-11eb-9f82-10651ad049b9.png)

[2021-05-09 20:02] TimofeiK27 commented on #170
Currently working on it. You want it to stay the same how it was for mobile, right?

[2021-05-09 20:16] Zjjc123 commented on #170
Yeah I think a linear layout for mobile would be great

[2021-05-09 20:17] Zjjc123 commented on #170
Use responsive design to change UI based on a predetermined screensize
https://tailwindcss.com/docs/responsive-design

[2021-05-09 20:36] TimofeiK27 commented on #170
Should work as expected now!
https://github.com/TimofeiK27/community-service-tracker/commit/448866a9ff07297e6334214e0a1edf9214a30963

[2021-05-09 20:51] Zjjc123 commented on #170
Looks good to me. Submit a pull request and we can review it.

[2021-05-12 19:26] #170 closed

[2021-05-12 19:40] #177 closed

[2021-05-13 00:16] #179 closed

[2021-05-13 04:29] #147 closed

[2021-05-13 07:48] Zjjc123 opened #190 "Redirect to Hours/Submission"
The profile will probably be left unedited once set. We should either redirect people to their hours or submission once logged into the website.

[2021-05-13 14:25] theTisch21 commented on #190
Should we set it so that if the user's name or graduation is blank, then redirect them to the profile, otherwise redirect them to service? New people might not know there's a profile section to be filled out

[2021-05-15 18:58] theTisch21 opened #191 "Ambiguity between activity name and orginaization"
**Is your feature request related to a problem? Please describe.**
I've been confused as to whether to put the activity name or the organization name in the first box on the edit page. Screenshot:
![image](https://user-images.githubusercontent.com/20461232/118373024-5e1bb600-b569-11eb-8e48-d337e8641ef2.png)

**Describe the solution you'd like**
We could split it into two boxes, or change the box t

[2021-05-17 16:06] Zjjc123 opened #192 "Easier way to add manage admins"
Currently I have to manually add individual emails. There should be a better way of editing it.

[2021-05-18 19:00] Zjjc123 opened #195 "Admin Empty Data Bug"
1. Go to admin
2. View a user
3. Click the logo to go back
4. Click same user
5. Data doesn't show up

[2021-05-18 19:01] Zjjc123 commented on #192
Maybe have a list of emails we can edit

[2021-05-22 23:33] daniel-sudz commented on #195
I think I know why: the listener probably stays attached to the same user during all of these steps

[2021-05-22 23:38] daniel-sudz commented on #191
Feel free to change it to anything—the line reference is at https://github.com/eastlakehs/community-service-tracker/blob/6e3f7f652cd584241a2f77bdfe75f78ee5e38f7d/website/src/components/edit/edit.tsx#L89

[2021-05-27 04:02] Zjjc123 opened #200 "Add Interact Club Option + Different icon/color for different houfs"
**Describe your feature request**

Add check box for other clubs (interact)

**Describe the solution you'd like**

Add box + add different colors to hours so overview can tell what hour is for what. Add key

**Describe alternatives you've considered**

**Additional context**

[2021-05-27 04:11] theTisch21 commented on #200
#142 has a similar request for icons, but I like the idea of adding other boxes for clubs. Should we add a way for users to add their clubs to the system, or for admins to easily do that? That'd be easier than separate issues/pull requests and manually adding each checkbox to firebase.

[2021-06-01 19:34] theTisch21 commented on #200
Another potential solution: What if we added a way for club leadership to request and get admin access? Then club admins would be able to view their member's community service logs.

[2021-06-07 02:05] theTisch21 commented on #142
@davidvel25 @Zjjc123
What about emoji? (These were added using the shortcut `windows + .`)
![image](https://user-images.githubusercontent.com/20461232/120949586-b291fb80-c6f9-11eb-9289-7854b4d5c2dc.png)
In discord and github, when making a custom status, there's a menu to add an emoji at the start of a status. What if we did something similar?
Discord's emoji button:
![image](https://user-images.g

[2021-06-07 02:55] Zjjc123 commented on #142
I think that's a good idea but we need to figure out what emojis and then the database support for it

[2021-06-10 16:38] theTisch21 opened #204 "Submit/edit layout causes calendar to be off screen, preventing me from changing months."
**Describe the bug**

When attempting to edit my event and change it to the month of May instead of june, the calendar widget is cut off, preventing me from clicking the button to change to may.

**To Reproduce**

1. Open the website
2. Open the edit/submit page for an event
3. Click the calendar
4. Attempt to change the month

**Expected behavior**

I expected the calendar to drop downwards, allo

[2021-06-14 15:06] theTisch21 commented on #190
@Zjjc123
What if instead of redirecting, we changed it so that the default redirect after login is going to the table of hours, and if there's no profile data, show a popup saying "Please update your profile information" with a button to do so

[2021-09-21 14:12] theTisch21 commented on #143
@Sheshank-s @davidvel25
Would you both like to become code owners and have write access to this repo? That would allow you to approve and merge pull requests whenever @daniel-sudz and @Zjjc123 are unavailable.
@daniel-sudz @Zjjc123 would you approve of this?

[2021-09-21 15:32] theTisch21 commented on #175
Is there an environment variable in netlify, like "NODE_ENV=Production"? If so, we could have our code check for that, and if it's set to "Production", to use firebase authentication like usual, but if it's set to "development", to deny access to the production database and instead use the emulator.

[2021-09-21 17:32] #191 closed

[2021-09-22 16:22] theTisch21 commented on #175
This will be a lot easier once we update firebase #107

[2021-09-23 19:23] theTisch21 commented on #143
@daniel-sudz @Zjjc123
May I please be added as an admin to our @eastlakehs organization? I will attempt to recruit more people to help out, and hopefully recruit some people who won't graduate for a few years. I will then add them as codeowners and give them admin once I graduate.

[2021-09-23 22:14] Zjjc123 commented on #143
I made you an owner of the organization. As with codeowners, I would like to see them make a few good contributions before making them codeowners.

[2021-09-23 22:17] Zjjc123 opened #208 "Archive Alumni"
Clean up but still store somewhere (archive) alumni profile and hours. This way the admin view would be cleaner since there are little uses for them. But it is still imo important to have backups.

[2022-06-29 05:56] daniel-sudz opened #236 "node16"
move to node16

[2022-06-29 05:57] daniel-sudz commented on #208
let's move it to a separate table

[2022-06-29 17:11] #236 closed

[2022-06-29 18:55] Zjjc123 opened #243 "License Action Bug"
Git action changes rejected

[code]

```hint: (e.g., 'git pull ...') before pushing again```

[2022-06-30 16:52] daniel-sudz opened #252 "use native date picker"
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date

the current package we use is no longer maintained

[2022-06-30 23:34] Zortex5 opened #254 "Community Service Hour Form says "Date not selected" even though a date has been selected"
When I fill out all of the information, including the notes and date and hit the "Log New Activity" button, it says "Date Not Selected" and won't log my hours.

Yesterday, I was able to submit my community service hours easily, but now I am unable to

![image](https://user-images.githubusercontent.com/87163038/176795250-51281247-3c4b-438f-af32-97762b102ec2.png)

This bug was observed on Windows 10

[2022-07-01 01:51] daniel-sudz commented on #254
@Zortex5 could you retry rn? I broke it 2 hours ago ish and then patched it

[2022-07-01 01:52] daniel-sudz commented on #254
@Zjjc123 could you try repro as well should be fixed

[2022-07-01 02:01] Zjjc123 commented on #254
@daniel-sudz works for me. closing this issue.

[2022-07-01 02:01] #254 closed

[2022-07-01 02:01] #252 closed

[2022-07-09 19:27] theTisch21 commented on #204
Fixed by the native date picker

[2022-07-09 19:27] #204 closed